html,
body {
    height: 100%;
}

body {
    background-color: aqua;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hidden {
    display: none !important;
}

.choice-button.score {
    outline: 3px solid #22c55e;
    outline-offset: 2px;
}

.choice-button.incorrect {
    outline: 3px solid #ef4444;
    outline-offset: 2px;
}

.choice-button {
    background-color: #f3f4f6;
    color: #1f2937;
    border: none;
    padding: 20px 130px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

#nextQuestion {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

#difficulty {
    top: 5px;
    right: 10px;
    background-color: #f3f4f6;
    color: #1f2937;
    padding: 10px 20px;
    font-size: 25px;
}

#ontoPage2 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 45px;
    transform: translate(-50%, -50%);
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f3f4f6;
    color: #1f2937;
    text-align: center;
    padding: 10px 0;
}